#logreg-forms {
  display: flex;
}

.logreg-forms {
  padding: 76px 0 69px 76px;
  /* display: flex;
  flex-direction: column; */

  width: 800px;
  height: 1024px;

  background: #e0e4ec;
}

#logreg-forms h1 {
  width: 525px;
  height: 41px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  /* or 60px */

  text-align: center;
  letter-spacing: -0.011em;

  color: #000000;
}

#logreg-forms h3 {
  width: 457px;
  height: 51px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 150%;
  /* or 38px */

  text-align: center;
  letter-spacing: -0.011em;

  color: #000000;
}

#logreg-forms label {
  margin-top: 34px;
  width: 223px;
  height: 57px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 150%;
  /* or 38px */

  text-align: left;
  letter-spacing: -0.011em;

  color: #000000;
}

#logreg-forms .logreg-form {
  width: 543px;
  height: 725px;
  margin: 10vh auto;
  border-radius: 20px;
  background-color: #f2f2f2;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#logreg-forms form {
  width: 100%;
  max-width: 608px;
  padding: 15px;
  margin: auto;
}

#logreg-forms .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

#logreg-forms .form-control:focus {
  z-index: 2;
}

#logreg-forms .form-signin input[type="email"] {
  margin-bottom: -1px;
  border-radius: 12px;
  background: #e0e4ec;
}

#logreg-forms .form-signin input[type="password"] {
  border-radius: 12px;
  background: #e0e4ec;
}

#logreg-forms .social-login {
  width: 390px;
  margin: 0 auto;
  margin-bottom: 14px;
}

#logreg-forms .social-btn {
  font-weight: 100;
  color: white;
  width: 190px;
  font-size: 0.9rem;
}

#logreg-forms a {
  display: block;
  padding-top: 10px;
  color: lightseagreen;
}

#logreg-form .lines {
  width: 200px;
  border: 1px solid red;
}

#logreg-forms button[type="submit"] {
  margin-top: 42px;
}

#logreg-forms .facebook-btn {
  background-color: #3c589c;
}

#logreg-forms .google-btn {
  background-color: #df4b3b;
  margin-right: 5px;
}

#logreg-forms .form-signup .social-btn {
  width: 210px;
}

#logreg-forms .form-signup input {
  margin-bottom: 2px;
}

.form-signup .social-login {
  width: 210px !important;
  margin: 0 auto;
}

#logreg-forms .ellipse20 {
  background-image: url(../assets/Ellipse\ 20.png);
}

#logreg-forms .ellipse21 {
  background-image: url(../assets/Ellipse\ 21.png);
}

#logreg-texts {
  width: 800px;
  background-image: url(../assets/Rectangle\ 112.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#logreg-texts .logreg-texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#logreg-texts .logreg-texts h3 {
  width: 264px;
  height: 75px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 150%;
  /* identical to box height, or 75px */

  letter-spacing: -0.011em;

  color: #08299b;
}

#logreg-texts .logreg-texts h4 {
  width: 251px;
  height: 146px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 150%;
  /* or 75px */

  text-align: center;
  letter-spacing: -0.011em;

  color: #000000;
}

#logreg-texts .logreg-texts p {
  width: 447px;
  height: 98px;
  left: 832px;
  top: 332px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  /* or 45px */

  text-align: center;
  letter-spacing: -0.011em;

  color: #333232;
}

#logreg-texts .logreg-texts img {
  width: 719px;
  height: 517px;

  /* background:  #D9D9D9; */
  border-radius: 20px;
}

/* Mobile */

@media screen and (max-width: 500px) {
  #logreg-forms {
    width: 300px;
  }

  #logreg-forms .social-login {
    width: 200px;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  #logreg-forms .social-btn {
    font-size: 1.3rem;
    font-weight: 100;
    color: white;
    width: 200px;
    height: 56px;
  }

  #logreg-forms .social-btn:nth-child(1) {
    margin-bottom: 5px;
  }

  #logreg-forms .social-btn span {
    display: none;
  }

  #logreg-forms .facebook-btn:after {
    content: "Facebook";
  }

  #logreg-forms .google-btn:after {
    content: "Google+";
  }
}

@media screen and (max-width: 480px) {
  #logreg-forms {
    flex-direction: column-reverse;
  }

  .logreg-forms {
    width: 375px;
  }

  #logreg-forms .logreg-form {
    width: 343px;
    height: 725px;
    margin: 10vh 0 10vh -17.5vw;
  }

  #logreg-forms h1 {
    margin-top: 25px;
    width: 305px;
    font-size: 40px;
  }

  #logreg-forms h3 {
    width: 307px;
    font-size: 22px;
  }

  #logreg-forms label {
    margin-top: 20px;
    font-size: 24px;
  }

  #logreg-forms .form-control {
    margin-top: -15px;
  }

  #logreg-forms .social-btn {
    font-size: 1.07rem;
    width: 120px;
    height: 36px;
  }

  #logreg-forms .social-login {
    display: flex;
  }

  #logreg-texts {
    max-width: 375px;
  }

  #logreg-texts .logreg-texts h3 {
    font-size: 40px;
  }

  #logreg-texts .logreg-texts h4 {
    font-size: 30px;
  }

  #logreg-texts .logreg-texts p {
    font-size: 28px;
  }

  #logreg-texts .logreg-texts img {
    max-width: 370px;
    max-height: 370px;
  }

}