#footer {
  padding: 47px 20px 47px 180px;
  width: 1583px;
  height: 282px;
  display: grid;
  grid-template-columns: 225px 146px 220px;
  column-gap: 300px;
  background: #adb5bd;
}

.footer-text p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 150%;
  /* or 45px */
  letter-spacing: -0.011em;
}

#footer .footer-text span {
  font-size: 30px;
  color: #08299b;
}

.footer-text p {
  color: #000;
  font-size: 20px;
}


/* ************************** */
          /* iPad */
/* ************************** */

@media screen and (max-width: 1024px) {

}

/* ************************** */
          /* Mobile */
/* ************************** */

@media screen and (max-width: 500px) {
  #footer {
    padding: 20px;
    width: 375px;
    height: 690px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #footer .footer-text span {
    font-size: 20px;
  }

  .footer-text p {
    text-align: center;
  }
}