.sub-title {
  padding: 36px 0 11px 119px;
  color: #08299B;
  font-weight: 600;
  font-size: 35px;
}

nav {
  height: 100px;
  background: #b3b2b7;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  color: #000;
  font-size: 27px;
  text-decoration: none;
  margin: 16px;
}

nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: #fff;
  border-radius: 0.2rem;

}

nav ul {
  padding: 0px 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 0.25rem;
}

nav ul li {
  list-style: none;
  width: 100%;
  text-align: center;
}

.items {
  width: 65%;
}

.item {
  font-size: 30px;
  color: #fff;
  background: #08299B;
  border-radius: 12px;
  padding: 2px 10px;
}


.sign {
  display: flex;
}

.logout {
  font-size: 30px;
  color: #fff;
  background: #fd1d1d;
  border-radius: 12px;
  padding: 2px 10px;
}

/* ************************** */
          /* iPad */
/* ************************** */
@media screen and (max-width: 1024px) {

}

/* ************************** */
          /* Mobile */
/* ************************** */

@media screen and (max-width: 500px) {

  .sub-title {
    padding: 6px 0 0 10px;
    font-size: 23px;
  }

  nav .menu {
    margin-right: 5px;
    display: flex;
    top: 0.4rem;
    right: 0.3rem;
    width: 1.5rem;
    height: 0.8rem;
  }

  nav .menu span {
    height: 0.15rem;
  }

  nav {
    width: 375px;
    height: 50px;
    flex-direction: column;
    align-items: start;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 375px;
    margin-bottom: 0.25rem;
  }

  nav ul.open {
    display: flex;
  }

  nav ul li {
    padding: 10px 24px;
    list-style: none;
    width: 375px;
    text-align: center;
  }

  nav ul li a {
    margin: 0.2rem 0.5rem;
    font-size: 25px;
  }

  .items {
    width: 100%;
    background: beige;
    z-index: 99;
  }

  .sign {
    margin-left: 70px;
    flex-direction: column;
  }

  .item {
    width: 150px;
    font-size: 20px;
  }
}