#input-wrapper {
  
  width: 688px;
  height: 64px;

  background: hsl(0, 0%, 100%);
  border-radius: 25px;
}

#input-wrapper form {
  display: flex;
  width: 100%;
  max-width: 640px;
  padding: 15px;
  margin: auto;
}
#input-wrapper .form-control {
  width: 640px;
  height: 23px;

  position: relative;
  /* box-sizing: border-box; */
  height: auto;
  padding: 10px;
  font-size: 16px;
  border: none;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* identical to box height, or 22px */

  text-align: center;
  letter-spacing: -0.011em;

  color: #c1c1c1;
}

@media screen and (max-width: 480px) {
  #input-wrapper {
    width: 350px;
  } 
}
